mixin boolean(name, label)
  .mb-3.form-check
    input.form-check-input(name=name, type="checkbox")
    label.form-check-label= label
    block

mixin number(name, label)
  .mb-3
    label.form-label= label
    input.form-control(name=name, type="number")
    block

mixin range(nameX, nameY, label)
  .mb-3
    label.form-label= label
    .input-group
      input.form-control(name=nameX, type="number")
      span.input-group-text to
      input.form-control(name=nameY, type="number")
    block

mixin string(name, label)
  .mb-3
    label.form-label= label
    input.form-control(name=name)
    block

mixin mlstring(name, label, overflowX = false)
  .mb-3
    label.form-label= label
    if overflowX
      textarea.form-control.overflow-auto.text-nowrap(name=name)
    else
      textarea.form-control(name=name)
    block

mixin form(name)
  form.p-3.pb-0(hidden name=name autocomplete="off" spellcheck="false" onsubmit="event.preventDefault()" oninput="modifyForm()")
    block